tags
/bin/*/*.bc
/bin/*/*.ll
/bin/*/*.d
/bin/*/*.so
/bin/*/helpers/*.c
/bin/*/helpers/*.bc
/bin/*/helpers/*.bc.*
/bin/*/helpers/*.ll
/bin/*/helpers/*.d
/bin/*/*.o
/bin/*/*.dll
/bin/*/*.lib
/bin/*/qemu-starter
