[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/jove-decompiler/llvm-project.git
[submodule "carbon-copy"]
	path = carbon-copy
	url = https://github.com/aleden/carbon-copy.git
[submodule "prebuilts"]
	path = prebuilts
	url = https://github.com/jove-decompiler/prebuilts.git
[submodule "klee"]
	path = klee
	url = https://github.com/jove-decompiler/klee.git
[submodule "llvm-cbe"]
	path = llvm-cbe
	url = https://github.com/jove-decompiler/llvm-cbe.git
	branch = jove16
[submodule "qemu"]
	path = qemu
	url = https://github.com/jove-decompiler/qemu.git
[submodule "mk-deb-vm"]
	path = mk-deb-vm
	url = https://github.com/jove-decompiler/mk-deb-vm.git
[submodule "oneTBB"]
	path = oneTBB
	url = https://github.com/oneapi-src/oneTBB.git
[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost.git
