tags
/bin/*/*.bc
/bin/*/*.ll
/bin/*/*.d
/bin/*/*.s
/bin/*/*.so
/bin/*/*.tmp
/bin/*/asm-offsets.h
/bin/*/linux.copy.h
/bin/*/tcgconstants.h
/bin/*/tcgconstants.*.h
/bin/*/env.copy.h
/bin/*/qemu.tcg.copy.h
/bin/*/qemu.tcg.copy.*.h
/bin/*/helpers/*.c
/bin/*/helpers/*.bc
/bin/*/helpers/*.bc.*
/bin/*/helpers/*.ll
/bin/*/helpers/*.d
/bin/*/*.o
/bin/*/*.dll
/bin/*/*.lib
/bin/*/qemu-starter
/bin/*/qemu-starter.inc
/bin/*/dump-vdso
/bin/*/dump-vdso.inc
/bin/*/env_init.inc
/bin/*/env_init
/bin/*/all_helpers.mk
tests/.t/*
tests/__pycache__/*
