[submodule "third_party/llvm-project"]
	path = third_party/llvm-project
	url = git@gitlab.com:aarnolabs/llvm/llvm.git
	branch = print_trace_llvm10_jove
[submodule "third_party/prebuilts"]
	path = third_party/prebuilts
	url = https://github.com/aleden/prebuilts.git
[submodule "third_party/clang-extricate"]
	path = third_party/clang-extricate
	url = https://github.com/aleden/carbon-copy.git
[submodule "third_party/libnvram"]
	path = third_party/libnvram
	url = https://github.com/aleden/libnvram.git
