name: CI

on:
  push:
    branches:
      - "main"
  workflow_dispatch:

env:
  TEST_TAG: aleden22/jove:test
  LATEST_TAG: aleden22/jove:latest

jobs:
  docker:
    runs-on: self-hosted
    timeout-minutes: 600
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
        with:
            submodules: recursive
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and export to Docker
        uses: docker/build-push-action@v5
        with:
          context: .
          load: true
          no-cache: true
          tags: ${{ env.TEST_TAG }}
      -
        name: Test
        run: |
          docker run --rm --privileged -v /dev:/dev ${{ env.TEST_TAG }} /jove/scripts/ci_check.sh
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: ${{ env.LATEST_TAG }}
