name: CI

on:
  push:
    branches:
      - "main"
  workflow_dispatch:

env:
  LATEST_TAG: aleden22/jove:latest

jobs:
  docker:
    runs-on: self-hosted
    timeout-minutes: 1000
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
        with:
            submodules: recursive
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Set BUILDKIT_STEP_LOG_MAX_SIZE
        run: echo "BUILDKIT_STEP_LOG_MAX_SIZE=-1" >> $GITHUB_ENV

      # 1) Build once, load into local Docker (push is false).
      -
        name: Build and export to Docker
        uses: docker/build-push-action@v6
        with:
          context: .
          load: true
          tags: ${{ env.LATEST_TAG }}

      # 2) Test the *already-built* local image.
      -
        name: Test
        run: |
          docker run --rm --privileged -v /dev:/dev ${{ env.LATEST_TAG }} /jove/scripts/ci_check.sh

      # 3) Tests succeeded. Now just push that same local image to Docker Hub.
      -
        name: Push
        run: |
          docker push ${{ env.LATEST_TAG }}
