name: ci

on:
  push:
    branches:
      - "main"

env:
  TEST_TAG: aleden22/jove:test
  LATEST_TAG: aleden22/jove:latest

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Disk space report before modification
        shell: bash
        run: |
          set -euo pipefail

          echo "Memory and swap:"
          free
          echo
          swapon --show
          echo

          echo "Available storage:"
          df -h
          echo

          echo "Mounted filesystems"
          mount | column -t

          echo "Docker images"
          sudo docker image ls

          echo -n "  Removing:     "
          if [[ ${{ inputs.remove-dotnet }} == 'true' ]]; then
            echo -n "dotnet "
          fi

          sudo apt-get install -y eatmydata

          exit 1
        with:
          remove-dotnet: true
      -
        name: Checkout
        uses: actions/checkout@v3
        with:
            submodules: true
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and export to Docker
        uses: docker/build-push-action@v4
        with:
          context: .
          load: true
          tags: ${{ env.TEST_TAG }}
      -
        name: Test
        run: |
          docker run --rm ${{ env.TEST_TAG }}
      -
        name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: ${{ env.LATEST_TAG }}
